{% extends 'partials/base.html' %}

{% block content %}
    <div class="position-relative overflow-hidden text-center"> 
        <div class="container col-xxl-4"> 
            <div class="row flex-lg-row-reverse align-items-center g-5"> 
                <div class="col-10 col-sm-8 col-lg-6"> 
                    <img src="{{ url_for('static', filename='assets/Dashboard.png') }}" class="d-block mx-lg-auto img-fluid" alt="Productivity" width="700" height="500" loading="lazy"> 
                </div> 
                <div class="col-lg-6"> 
                    <h1 class="display-5 text-body-emphasis lh-1 mb-3">
                        Let's maximise your productivity with <span style="font-weight: bold;">"LockedIn"</span>
                    </h1> 
                    <div class="d-grid gap-2 d-md-flex justify-content-sm-center"> 
                        {% if session.get("user_id") %}
                            <a href="/add-task" class="btn btn-primary">Getting Started</a>
                        {% else %}
                            <a href="/login" class="btn btn-primary">Getting Started</a>
                        {% endif %}
                    </div> 
                </div> 
            </div> 
        </div>
    </div>

    <div class="container px-4 py-5" id="custom-cards"> 
        <h2 class="pb-2 border-bottom">What we do?</h2> 
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5"> 
            <div class="col"> 
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');"> 
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"> 
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                            Real-Time Productivity Tracking
                        </h3> 
                    </div> 
                </div> 
            </div> 
            <div class="col"> 
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');"> 
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"> 
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                            Priority-Based Task Scoring
                        </h3>
                    </div> 
                </div> 
            </div> 
            <div class="col"> 
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');"> 
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1"> 
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                            Automated Daily PDF Reports
                        </h3> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>
{% endblock %}
