{% extends 'partials/base.html' %}
{% block content %}
    <div class="login-page">
        <div class="login-card">
            <div class="login-header">
                <h2>Login to LockedIn</h2>
            </div>
            <div class="login-body">
                <form method="post">
                    <div class="form-content">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" name="userName" placeholder="Username"> 
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"> 
                            <label for="floatingPassword">Password</label> 
                        </div>
                        <button class="login-btn" type="submit">Login</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>









<!--
    <div class="container col-xl-10 col-xxl-8 px-4 py-5"> 
        <div class="row align-items-center g-lg-5 py-5"> 
            <div class="col-lg-7 text-center text-lg-start"> 
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Take Control of Your Day</h1> 
                <p class="col-lg-10 fs-4">
                    Organize tasks, assign value points, and track your daily productivity in one place.
                    Stay focused, measure progress, and build better habits—one task at a time.
                </p> 
            </div> 
            <div class="col-md-10 mx-auto col-lg-5"> 
                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post"> 
                    <div class="form-floating mb-3"> 
                        <input type="text" class="form-control" id="floatingInput" name="userName" placeholder="Username"> 
                        <label for="floatingInput">Username</label> 
                    </div> 
                    <div class="form-floating mb-3"> 
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"> 
                        <label for="floatingPassword">Password</label> 
                    </div> 
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button> 
                </form> 
            </div> 
        </div> 
    </div>
-->
{% endblock %}