{% extends 'partials/base.html' %}

{% block content %}
    <div class="register-page">
        <div class="register-card">
            <div class="register-header">
                <h2>Register to LockedIn</h2>
            </div>
            <div class="register-body">
                <form method="post">
                    <div class="form-content">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" name="userName" placeholder="Username" required> 
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingEmail" name="emailId" placeholder="Email" required> 
                            <label for="floatingEmail">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required> 
                            <label for="floatingPassword">Password</label> 
                        </div>
                        <button class="register-btn" type="submit">Register</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
{% endblock %}
