{% block content %}
    <nav class="navbar bg-body-tertiary p-3 fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
            <img alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            PPA
            </a>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/login" class="btn btn-outline-primary">Login</a>
                <a href="/register" class="btn btn-primary">Register</a>
                <a class="account-img" href="#">
                    <img alt="account" width="30" height="24" class="d-inline-block align-text-top">
                </a>
            </div>
        </div>
    </nav>
{% endblock %}